<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tumblr.feed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16DA450E1D1314B50007ED63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16DA45221D1314B50007ED63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16DA452D1D1314B50007ED63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
